@using HamroPaisaCollection.Models
@* @inject LocalDbService local *@
@page "/"


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My MAUI App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Top 4 information -->
    <div class="top-container">
        <div class="row-4">
            <img src="/assests/user.png" alt="user"/>
            <div class="data">
                <p>Total Balance</p>
                <h3>@totalBalance</h3>
            </div>
        </div>
        <div class="row-4">
            <img src="/assests/saving.png" alt="bill" />
            <div class="data">
                <p>Total Inflow</p>
                <h3>@totalIncome</h3>
            </div>
        </div> 
        <div class="row-4">
            <img src="/assests/bill.png" alt="saving" />
            <div class="data">
                <p>Total Outflow</p>
                <h3>@totalExpense</h3>
            </div>
        </div>
        <div class="row-4">
            <img src="/assests/money.png" alt="money" />
            <div class="data">
                <p>Total Dept</p>
                <h3>@totalDept</h3>
            </div>
        </div>
    </div>

    <!-- Three List -->
    <div class="container">
        <div class="transaction-list">
            <h4>Recent Transactions</h4>
            <ul>
                @foreach (var item in paisamodel)
                {
                    @* <li>@item.Id @item.Title - @item.Type</li> *@
                    @* <li>@item.amount</li> *@
                }
            </ul>
        </div>
        <!-- Two List -->
        <div class="inside-container">       
            <div class="dept-list">
                <h4>Depts Breakdown</h4>
                <ul>@foreach (var item in paisamodel)
                    {

                    }
                </ul>
            </div>
            <div class="expenses-list">
                <h4>Expenses Breakdown</h4>
                <ul>@foreach (var item in paisamodel)
                    {

                    }
                </ul>
            </div>
        </div>
    </div>

</body>
</html>


@code {
    Transaction transaction = new Transaction();

    //These fields are meant to hold the total values after CalculateTotals() method is called.
    private decimal totalBalance;
    private decimal totalIncome;
    private decimal totalExpense;
    private decimal totalDept;

    private class Transaction()
    {
        private int Id { get; set; }
        private string Description { get; set; }
        private DateTime Date { get; set; }
        private decimal Amount { get; set; }
    }

    private class Expense()
    {
        private int Id { get; set; }
        private string Description { get; set; }
        private DateTime Date { get; set; }
        private decimal Amount { get; set; }
    }

    private class Dept()
    {
        private int Id { get; set; }
        private string Description { get; set; }
        private DateTime Date { get; set; }
        private decimal Amount { get; set; }
    }


    List<PaisaModel> paisamodel = new List<PaisaModel>(); 
}