@page "/transaction"
@inject IDialogService DialogService
@inject IPaisaService PaisaService

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My MAUI App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="user-section">

        <div class="search-bar">
            <form action="/search" method="get">
                <input type="search" name="query" placeholder="Search here..." @bind="search_item" required>
                <MudButton Class= "SearchButton" @onclick="Search" Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
            </form>
        </div>

        <!-- Top Button containers -->
        <div class="button-container">
            <MudButton @onclick="OpenTransactionDialog" Variant="Variant.Filled" Color="Color.Primary">Add</MudButton>
            <MudButton @onclick="Sort" Variant="Variant.Filled" Color="Color.Primary">Sort</MudButton>
            <MudButton @onclick="AscendingOrder" Variant="Variant.Filled" Color="Color.Primary">Ascending</MudButton>
            <MudButton @onclick="DescendingOrder" Variant="Variant.Filled" Color="Color.Primary">Decending</MudButton>
        </div>

    </div>

    <!-- List container -->
    <div class="unique-container">
        <div class="unqiue-list">
            <h3>Recent Transaction</h3>
            <ul>
                @foreach (var transaction in paisamodel)
                {
                    <li class="transaction-item">
                        <span>@transaction.Description</span>&nbsp;-
                        <span>@transaction.Date.ToString("yyyy-MM-dd")</span>&nbsp;-
                        <span>@transaction.Amount.ToString()</span>&nbsp;-
                        <span class="@(transaction.Type == "Income" ? "text-success" : "text-danger")">@transaction.Type</span>
                    </li>
                }
            </ul>
        </div>
    </div>

</body>
</html>


@code {


    // Declaring list
    IEnumerable<PaisaModel> paisamodel;

    bool sort = false;

    private string search_item { get; set; }


    protected sealed override void OnInitialized()
    {

        paisamodel = PaisaService.GetAllPaisa();

    }


    // Search Button event
    private void Search()
    {

        if(search_item != null)
        {
            paisamodel = PaisaService.GetAllPaisa().Where(x => (x.Description.ToLower().Contains(search_item.ToLower())));
        }

    }


    // Add button event
    private async Task OpenTransactionDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = await DialogService.ShowAsync<TransactionDialog>("Transaction Dialog", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            paisamodel = PaisaService.GetAllPaisa();
        }
    }


    // Sort button event
    private void Sort()
    {
        if(sort)
        {
            paisamodel = PaisaService.GetAllPaisa().OrderBy(x => x.Date);
            sort = false;
        }
        else
        {
            paisamodel = PaisaService.GetAllPaisa().OrderByDescending(x => x.Date);
            sort = true;

        }
       
    }


    // AscendingOrder button event
    private void AscendingOrder()
    {

        paisamodel = PaisaService.GetAllPaisa().OrderBy(x => x.Description);

    }


    //DescendingOrder button event
    private void DescendingOrder()
    {

        paisamodel = PaisaService.GetAllPaisa().OrderByDescending(x => x.Description);

    }


}
